#### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\patil\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\patil\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\patil\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\patil\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\patil\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: outcome in c:\users\patil\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\patil\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: async-generator>=1.9 in c:\users\patil\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\patil\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\patil\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\patil\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\patil\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\patil\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\patil\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\patil\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\patil\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\patil\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#Lets first connect to the driver

driver= webdriver.Chrome(r"chromedriver.exe")

#opening the naukri page in automated chrome browser

driver.get("https://www.naukri.com/")

In [6]:
des= driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")
des.send_keys("Data Analyst")

# Enter “Bangalore” in “enter the location” field

loc= driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
loc.send_keys("Bangalore")

In [7]:
#click the search button

search= driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [8]:
# lets make empty list to store data with the given conditions

title= []
location=[]
company=[]
experience=[]

title_tags= driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    x= i.text
    title.append(x) 

# Scraping first 10 job location from the given page

loc_tags= driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in loc_tags[0:10]:
    x= i.text
    location.append(x)
    
# Scraping first 10 company name the given page

com_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com_tags[0:10]:
    x= i.text
    company.append(x)

# Scraping first 10 experience from the given page

exp_tags=  driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags[0:10]:
    x= i.text
    experience.append(x)

In [9]:
#checking the length

print (len(title), len(location), len(company), len(experience))

10 10 10 10

In [10]:
df = pd.DataFrame({'Job_Title':title,
                  'Location':location,
                  'Company_name':company,
                  'Experience':experience})
df

,Job_Title,Location,Company_name,Experience
0,Data Analyst/Senior Analyst - R/SQL/Python,"Temp. WFH - Bangalore/Bengaluru, Kolkata, Mumb...",The Nikharv Consultancy,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Target,2-4 Yrs
2,data analyst / data analytics - US MNC (analyt...,"Temp. WFH - Bangalore/Bengaluru, Gurgaon/Gurugram",Aspyra Hr Services,3-8 Yrs
3,Business Data Analyst (Sr Exe / Asst Manager),Bangalore/Bengaluru,Talentleads,3-5 Yrs
4,Junior Data Analyst/ Scientist- Fresher Position,"Hybrid - Bangalore/Bengaluru, New Delhi, Mumba...",Sejal Consulting Hub,0-5 Yrs
5,Staff Data Analyst,Bangalore/Bengaluru,Walmart,10-14 Yrs
6,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,6-8 Yrs
7,Sr Data Analyst,Hybrid - Bangalore/Bengaluru,Amolitalents,6-9 Yrs
8,Job Opportunity with Leading MNC - Senior Data...,Bangalore/Bengaluru,Enrich And Enlight Business Consulting,5-7 Yrs
9,Manager/Senior Manager - Data Analyst,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Huquo Consulting Pvt. Ltd,2-7 Yrs

#### Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.

In [11]:
#Lets first connect to the driver

driver= webdriver.Chrome(r"chromedriver.exe")

#opening the naukri page in automated chrome browser

driver.get("https://www.naukri.com/")

In [12]:
des= driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")
des.send_keys("Data Scientist")

# Enter “Bangalore” in “enter the location” field

loc= driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
loc.send_keys("Bangalore")

In [13]:
#click the search button

search= driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [14]:
# lets make empty list to store data with the given conditions

title= []
location=[]
company=[]
experience=[]

title_tags= driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    x= i.text
    title.append(x) 

# Scraping first 10 job location from the given page

loc_tags= driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in loc_tags[0:10]:
    x= i.text
    location.append(x)
    
# Scraping first 10 company name the given page

com_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com_tags[0:10]:
    x= i.text
    company.append(x)

# Scraping first 10 experience from the given page

exp_tags=  driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags[0:10]:
    x= i.text
    experience.append(x)

In [15]:
print (len(title), len(location), len(company), len(experience))

10 10 10 10

In [16]:
df = pd.DataFrame({'Job_Title':title,
                  'Location':location,
                  'Company_name':company,
                  'Experience':experience})
df

,Job_Title,Location,Company_name,Experience
0,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Capgemini,9-14 Yrs
1,Data Scientist,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Tech Mahindra,7-12 Yrs
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
3,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
4,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft,8-12 Yrs
5,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Hyderabad...",Birlasoft,8-12 Yrs
6,Data Scientist,Bangalore/Bengaluru,ANZ,2-6 Yrs
7,Staff Data Analyst,Bangalore/Bengaluru,Walmart,10-14 Yrs
8,Data Scientist,Bangalore/Bengaluru,ANZ,2-7 Yrs
9,Data Scientist Knowledge graph,"Hybrid - Bangalore/Bengaluru, Pune",Capco,7-12 Yrs

#### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scraped data.

In [18]:
#Lets first connect to the driver

driver= webdriver.Chrome(r"chromedriver.exe")

#opening the naukri page in automated chrome browser

driver.get("https://www.naukri.com/")

In [19]:
des= driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")
des.send_keys("Data Scientist")

In [20]:
#click the search button

search= driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [21]:
# select location filter as “Delhi/NCR”

location_filter = driver.find_element(By.XPATH,'//span[@title="Mumbai (All Areas)"]')
location_filter.click()

In [22]:
# select salary filter as “3-6” lakhs

salary_filter = driver.find_element(By.XPATH,'//span[@title="6-10 Lakhs"]')
salary_filter.click()

In [23]:
# lets make empty list to store data with the given conditions

title= []
location=[]
company=[]
experience=[]

title_tags= driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    x= i.text
    title.append(x) 

# Scraping first 10 job location from the given page

loc_tags= driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in loc_tags[0:10]:
    x= i.text
    location.append(x)
    
# Scraping first 10 company name the given page

com_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com_tags[0:10]:
    x= i.text
    company.append(x)

# Scraping first 10 experience from the given page

exp_tags=  driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags[0:10]:
    x= i.text
    experience.append(x)

In [24]:
df = pd.DataFrame({'Job_Title':title,
                  'Location':location,
                  'Company_name':company,
                  'Experience':experience})
df

,Job_Title,Location,Company_name,Experience
0,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
1,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
2,Data Scientist,"Mumbai, Bangalore/Bengaluru",Megma Services,1-4 Yrs
3,Data Scientist,Mumbai,IBM,8-13 Yrs
4,Data Scientist,Mumbai,Abbott,5-6 Yrs
5,Data Scientist (HR),"Mumbai, New Delhi, Hyderabad/Secunderabad",NCR Corporation,1-2 Yrs
6,Data Scientist - R/Python,"Temp. WFH - Kolkata, Mumbai, Hyderabad/Secunde...",Okda Solutions,4-7 Yrs
7,Data Scientist - Engine Algorithm,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Primo Hiring,1-3 Yrs
8,Opportunity For BioStatistician - II/Sr/Princi...,"Mumbai, Hyderabad/Secunderabad, Pune, Ahmedaba...",PPD,4-9 Yrs
9,Data Scientist,"Mumbai, Bangalore/Bengaluru",Megma Services,1-4 Yrs

#### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price


The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data asusual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
5. Now scrape data from this page asusual
6. Repeat this until you get data for 100sunglasses.

In [28]:
#Lets first connect to the driver

driver= webdriver.Chrome(r"chromedriver.exe")

#opening the naukri page in automated chrome browser

driver.get("https://www.flipkart.com/")

In [29]:
# close the popup window

popup= driver.find_element(By.XPATH, "/html/body/div[2]/div/div/button")
popup.click()

In [30]:
#Lets enter “sunglasses” in the search field where “search for products, brands and more” is written

des= driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")

des.send_keys("Sunglasses")

In [31]:
# click the search icon

search= driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search.click()

In [32]:
#Scrap the required data 1. Brand, 2. Product Description, 3. Price, 4.Discount

brand_name=[]
product_description=[]
price=[]
discount=[]

In [33]:
# Scraping first 100 Brand from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    brand_tags= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        x= i.text
        brand_name.append(x)
    
    #Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
    next_button.click()
    time.sleep(8)
Top100_brand_name= brand_name[0:100] #Top 100 data

In [34]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[1]')
prev_button.click()

In [35]:
# Scraping first 100 Product Description from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    product_tags= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_tags:
        x= i.text
        product_description.append(x)
    
    #Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
Top100_product_description= product_description[0:100] #Top 100 data

In [36]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[1]')
prev_button.click()

In [37]:
# Scraping first 100 Price from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        x= i.text
        price.append(x)
    
    #Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
Top100_price= price[0:100] #Top 100 data

In [38]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[1]')
prev_button.click()

In [39]:
# Scraping first 100 Discount from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in price_tags:
        x= i.text
        discount.append(x)
        
    #Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
    next_button.click()
    time.sleep(5)
Top100_discount = discount[0:100] #Top 100 data

In [40]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[1]')
prev_button.click()

In [41]:
#checking the length

print (len(Top100_brand_name), len(Top100_product_description), len(Top100_price), len(Top100_discount))

100 100 100 100

In [42]:
df = pd.DataFrame({'Brand_Name' :Top100_brand_name,
                   'Product Description':Top100_product_description,
                   'Price': Top100_price,
                   'Discount' :Top100_discount})
df

,Brand_Name,Product Description,Price,Discount
0,RESIST EYEWEAR,"UV Protection, Night Vision, Riding Glasses Sp...","₹1,399",35% off
1,ROZZETTA CRAFT,"UV Protection, Mirrored, Gradient Wayfarer Sun...","₹1,399",53% off
2,Fastrack,"Mirrored, UV Protection Aviator Sunglasses (56)",₹599,40% off
3,Elligator,UV Protection Rectangular Sunglasses (Free Size),₹149,75% off
4,Fastrack,"UV Protection, Gradient Clubmaster, Retro Squa...",₹499,37% off
...,...,...,...,...
95,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (52),₹256,39% off
96,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹149,82% off
97,PIRASO,"Night Vision, UV Protection Round Sunglasses (54)",₹182,92% off
98,LIZA ANGEL,UV Protection Wayfarer Sunglasses (Free Size),₹259,87% off
99,CART2DEAL,"UV Protection, Polarized Rectangular Sunglasse...","₹1,604",80% off

#### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART        

As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews

In [43]:
#Lets first connect to the driver

driver= webdriver.Chrome(r"chromedriver.exe")

#Go to Flipkart webpage by url : https://www.flipkart.com/

driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART")

In [44]:
# lets make empty list to store data with the given conditions
ratings = []

# Scraping first 100 Ratings the given page

start = 0 #starting page
end = 10 # page number to end scaping


for page in range(start,end):
    
#scrape the ratings
    
    rating_tags = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        x= i.text
        ratings.append(x)
        
    #getting the nextpage button & clicking next 
    
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [45]:
prev_button= driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[1]')
prev_button.click()

In [47]:
review_summary=[]
# Scraping first 100 Review summary the given page

start = 0 #starting page
end = 10 # page number to end scaping


for page in range(start,end):
    
    # scrape the review summaries
    
    review_sum_tags = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_sum_tags:
        x= i.text
        review_summary.append(x)    
    
    #getting the nextpage button & clicking next 
    
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [48]:
prev_button= driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[1]')
prev_button.click()

In [49]:
full_review=[]
# Scraping first 100 full review the given page

start = 0 #starting page
end = 10 # page number to end scaping


for page in range(start,end):
    
    # scrape the full reviews
    
    full_review_tags = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_review_tags:
        x= i.text
        full_review.append(x.replace("\n"," "))
        
    #getting the nextpage button & clicking next 
    
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [51]:
prev_button= driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[1]')
prev_button.click()

In [52]:
#checking the length

print (len(ratings), len(review_summary), len(full_review))

100 100 100

In [53]:
# Creating DataFrame to scrap first 10 data
df = pd.DataFrame({'Ratings' : ratings,
                  'Review summary': review_summary,
                  'Full review': full_review})
df

,Ratings,Review summary,Full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product Delivery was...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,4,Worth every penny,So far it’s been an AMAZING experience coming ...
96,5,Perfect product!,Value for money❤️❤️ Its awesome mobile phone i...
97,5,Highly recommended,It is just awesome mobile for this price from ...
98,5,Great product,iphone 11 is a very good phone to buy only if ...
99,5,Pretty good,"Amazing camera quality as expected, battery al..."

#### Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes

In [25]:
#Lets first connect to the driver

driver= webdriver.Chrome(r"chromedriver.exe")

#Go to Flipkart webpage by url : https://www.flipkart.com/

driver.get("https://www.flipkart.com/")

In [26]:
# close the popup window

popup= driver.find_element(By.XPATH, "/html/body/div[2]/div/div/button")
popup.click()

In [27]:
# lets Enter “iphone 11” in “Search” field

des= driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")

des.send_keys("sneakers")

In [28]:
#click on search button

search= driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search.click()

In [29]:
#Scrap the required data Brand, Product Description, Price, Discount (as shown in the given picture)

brand_name=[]
product_description=[]
price=[]
discount=[]

In [30]:
# Scraping first 100 Brand from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    brand_tags= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        x= i.text
        brand_name.append(x)
    
    # Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)
Top100_brand_name= brand_name[0:100] #Top 100 data

In [31]:
prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[1]')
prev_button.click()

In [32]:
# Scraping first 100 Product Description from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    product_tags= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_tags:
        x= i.text
        product_description.append(x)
        
    
    # Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
Top100_product_description= product_description[0:100] #Top 100 data

In [33]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[1]')
prev_button.click()

In [34]:
# Scraping first 100 Price from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        x= i.text
        price.append(x)
        
    # Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') #Go to the “Next” Button at the bottom other page and scrap data
    next_button.click()
    time.sleep(3)
Top100_price= price[0:100] #Top 100 data

In [35]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[1]')
prev_button.click()

In [36]:
# Scraping first 100 Discount from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in price_tags:
        x= i.text
        discount.append(x) 
        
    # Go to the “Next” Button at the bottom other page and scrap data
     
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') #Go to the “Next” Button at the bottom other page and scrap data
    next_button.click()
    time.sleep(8)
Top100_discount = discount[0:100] #Top 100 data

In [37]:
#Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[1]')
prev_button.click()

In [38]:
#checking the length

print (len(brand_name), len(product_description), len(price),len(discount))

120 115 120 113

In [39]:
# Creating DataFrame of first 100 scrapped data
df = pd.DataFrame({'Brand_Name': Top100_brand_name,
                   'Product Description': Top100_product_description, 
                   'Price':Top100_price, 
                   'Discount': Top100_discount})

df

,Brand_Name,Product Description,Price,Discount
0,GVR,2006 Trenddy Fashion Sporty Casuals Sneakers R...,₹749,25% off
1,SFR,Sneakers For Men,₹399,44% off
2,World Wear Footwear,5011-Latest Collection Stylish & Trendy Casual...,₹399,20% off
3,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,₹434,78% off
4,ADIDAS,STREET ICON M Sneakers For Men,"₹1,943",46% off
...,...,...,...,...
95,BRUTON,Sneakers For Women,₹594,60% off
96,HRX by Hrithik Roshan,Sneakers For Women,"₹1,047",60% off
97,Kraasa,Sneakers For Men,₹299,46% off
98,Deals4you,"Casuals, Canvas, Partywear Sneakers For Men",₹449,25% off
99,BRUTON,Sneakers For Men,₹798,74% off

#### Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [75]:
#Lets first connect to the driver

driver= webdriver.Chrome(r"chromedriver.exe")

#Go to Flipkart webpage by url : https://www.amazon.in/

driver.get("https://www.amazon.in/")

In [76]:
# Lets enter Laptop in the search field and then click the search icon.

des= driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
des.send_keys("Laptop")

In [77]:
# click the search button

search= driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [78]:
# select cpu filter

cpu_filter_i7 = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[11]/span/a/span')
cpu_filter_i7.click()

In [79]:
#Scrap the required data

title=[]
ratings=[]
price=[]

In [80]:
#title of the laptops

#title_tags= driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
title_tags = driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
for i in title_tags[0:10]:
    x= i.text
    title.append(x)
title

['ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) HD, Dual Core Intel Celeron N4020, Thin and Light Laptop (4GB RAM/256GB SSD/Integrated Graphics/Windows 11 Home/Transparent Silver/1.8 Kg), X515MA-BR011W',
 'AVITA SATUS S111 NU14A1INC43PN-SG 14.1 FHD (35.81cms) Laptop (Intel Celeron N4020/4GB/128GB SSD/FHD Display/Windows 11 Home/ Intel UHD Graphics), Space Grey',
 'Lenovo IdeaPad Slim 3 Intel Celeron N4020 4th Gen 15.6" (39.62cm) HD Thin & Light Laptop (8GB/256GB SSD/Windows 11/Office 2021/2Yr Warranty/3months Game Pass/Platinum Grey/1.7Kg), 81WQ00MQIN',
 'Lenovo V15 Intel Celeron N4020 15.6" (39.62 cm) HD 220 nits Antiglare Thin and Light Laptop (4GB RAM/256GB SSD/DOS/Iron Grey/1.85 kg), 82C3A008IH',
 'Lenovo IdeaPad D330 Intel Celeron N4020 10.1" (25cm) HD IPS Detachable 2-in-1 Laptop (4GB/128GB eMMC/Windows 10/1 Yr Warranty/Mineral Grey/1.1Kg), 82H0001YIN',
 "Lenovo IdeaPad Slim 3 Chromebook Intel Celeron N4020 4th Gen 11.6'' (29.46cm) HD Thin & Light Laptop (4GB/64GB eMMC/Chrome OS/Upto 10hr Battery/2W x2 HD Speaker/Onyx Black/1.12Kg), 82BA001PHA",
 "Lenovo IdeaPad Slim 1 Intel Celeron N4020 4th Gen 11.6'' (29.46cm) HD Thin & Light Laptop (4GB/256GB SSD/Windows 11/Office 2021/3months Game Pass/Platinum Grey/1.2Kg), 81VT009UIN",
 "Lenovo IdeaPad Slim 3 Chromebook Intel Celeron N4020 14'' (35.56cm) FHD Thin & Light Laptop (4GB/64GB eMMC/Chrome OS/Upto 10hr Battery/2W x2 HD Speaker/Platinum Grey/1.4Kg), 82C1002EHA",
 'ASUS Eeebook 14, Intel Celeron N4500, 14" (35.56 cm) HD, Thin and Light Laptop (4GB/256GB SSD/Integrated Graphics/Windows 11/with Numberpad/Blue/1.3 kg), E410KA-BV001W',
 'HP Chromebook 14a,Intel Celeron N4500 14inch(35.6 cm) FHD Touchscreen Laptop (4 GB SDRAM/64 GB eMMC/Chrome 64 /Fast Charge/Dual Speakers/Google Assistant Built-in/Mineral Silver),14a- na1004TU']

In [81]:
#ratings 
rating_tags=driver.find_elements(By.XPATH,"//a[@class='a-popover-trigger a-declarative']")

for i in rating_tags[0:10]:
    if i.text is None:
        ratings.append("--")
    else:
        ratings.append(i.get_attribute("text"))
ratings

['4.0 out of 5 stars',
 '3.3 out of 5 stars',
 '3.8 out of 5 stars',
 '3.4 out of 5 stars',
 '3.9 out of 5 stars',
 '3.2 out of 5 stars',
 '3.8 out of 5 stars',
 '3.7 out of 5 stars',
 '3.8 out of 5 stars',
 '3.9 out of 5 stars']

In [82]:
#prices of the laptops

price_tags=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in price_tags[0:10]:
    x= i.text
    price.append(x)
price

['25,990',
 '16,990',
 '26,390',
 '19,990',
 '19,990',
 '16,990',
 '19,017',
 '22,990',
 '24,990',
 '25,500']

In [84]:
#checking the length

print (len(title), len(ratings), len(price))

10 10 10

In [85]:
df = pd.DataFrame({'Title_of_Laptop' : title,
                   'Ratings' : ratings,
                   'Price' : price})
df

,Title_of_Laptop,Ratings,Price
0,"ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...",4.0 out of 5 stars,"25,990"
1,AVITA SATUS S111 NU14A1INC43PN-SG 14.1 FHD (35...,3.3 out of 5 stars,"16,990"
2,Lenovo IdeaPad Slim 3 Intel Celeron N4020 4th ...,3.8 out of 5 stars,"26,390"
3,"Lenovo V15 Intel Celeron N4020 15.6"" (39.62 cm...",3.4 out of 5 stars,"19,990"
4,"Lenovo IdeaPad D330 Intel Celeron N4020 10.1"" ...",3.9 out of 5 stars,"19,990"
5,Lenovo IdeaPad Slim 3 Chromebook Intel Celeron...,3.2 out of 5 stars,"16,990"
6,Lenovo IdeaPad Slim 1 Intel Celeron N4020 4th ...,3.8 out of 5 stars,"19,017"
7,Lenovo IdeaPad Slim 3 Chromebook Intel Celeron...,3.7 out of 5 stars,"22,990"
8,"ASUS Eeebook 14, Intel Celeron N4500, 14"" (35....",3.8 out of 5 stars,"24,990"
9,"HP Chromebook 14a,Intel Celeron N4500 14inch(3...",3.9 out of 5 stars,"25,500"

### Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [3]:
#Lets first connect to the driver

driver= webdriver.Chrome(r"chromedriver.exe")

#Go to webpage by url : https://www.azquotes.com/

driver.get("https://www.azquotes.com/")

In [4]:
top=driver.find_element(By.XPATH,'//a[@href="/top_quotes.html"]')
top.click()

In [5]:
quote = []
author = []
type_of_quotes = []

In [6]:
# Scraping first 1000 quotes from the given page

# Scraping data from the first page
start=0
end=10
for page in range(start, end):
    quote_tags= driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tags:
        x = i.text
        quote.append(x)
    
    #Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]') 
    next_button.click()
    time.sleep(8)
Top1000_quote= quote[0:1000] #Top 1000 data

In [7]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[1]')
prev_button.click()

In [8]:
# Scraping first 1000 author from the given page

# Scraping data from the first page
start=0
end=10
for page in range(start, end):
    author_tags= driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tags:
        x = i.text
        author.append(x)
    
    #Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]') 
    next_button.click()
    time.sleep(8)
Top1000_author= author[0:1000] #Top 1000 data

In [9]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[1]')
prev_button.click()

In [10]:
# Scraping first 1000 type of quotes from the given page

# Scraping data from the first page
start=0
end=10
for page in range(start, end):
    type_of_quotes_tags= driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_of_quotes_tags:
        x = i.text
        type_of_quotes.append(x)
    
    #Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]') 
    next_button.click()
    time.sleep(8)
Top1000_type_of_quotes= type_of_quotes[0:1000] #Top 1000 data

In [11]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[1]')
prev_button.click()

In [12]:
#checking the length
print(len(quote),len(author),len(type_of_quotes))

1000 1000 1000

In [13]:
df = pd.DataFrame({'Quotes':quote,
                   'Authors':author,
                   'Type_Of_Quotes':type_of_quotes})
df

,Quotes,Authors,Type_Of_Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

#### Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame.

In [59]:
#Lets first connect to the driver

driver= webdriver.Chrome(r"chromedriver.exe")

#Go to webpage by url : https://www.jagranjosh.com/

driver.get("https://www.jagranjosh.com/")

In [60]:
#click on the GK option
gk=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
gk.click()

In [61]:
#click on the List of all Prime Ministers of India
pm_list=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
pm_list.click()

In [62]:
#lets make empty list to store data with the given conditions

name= []
born_dead=[]
term_of_office=[]
remarks=[]

#Scraping repected former prime minister name and dead from the given page

name_tag = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in name_tag :
    x= i.text
    name.append(x)

# Scraping repected former prime minister born and dead from the given page

born_tags= driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in born_tags:
    x= i.text
    born_dead.append(x)
    
# Scraping repected former prime minister term of office the given page

term_tags= driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]/p')
for i in term_tags[0:18]:
    x= i.text
    term_of_office.append(x)

# Scraping repected former prime minister remark from the given page

remarks_tags=  driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in remarks_tags:
    x= i.text
    remarks.append(x)

In [63]:
#checking the length
print(len(name),len(born_dead),len(term_of_office),len(remarks))

18 18 18 18

In [64]:
df = pd.DataFrame({'Name':name,'Born_Dead':born_dead,'Term Of Office':term_of_office,'Remarks':remarks})
df

,Name,Born_Dead,Term Of Office,Remarks
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"16 years, 286 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"27 May 1964 to 9 June 1964,",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),13 days,-
4,Indira Gandhi,(1917–1984),9 June 1964 to 11 January 1966,First female Prime Minister of India
5,Morarji Desai,(1896–1995),"1 year, 216 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),11 January 1966 to 24 January 1966,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),13 days,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),24 January 1966 to 24 March 1977,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),"11 years, 59 days",First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),24 March 1977 to 28 July 1979,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"2 year, 126 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),28 July 1979 to 14 January 1980,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),170 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),14 January 1980 to 31 October 1984,------
15,Atal Bihari Vajpayee,(1924-2018),"4 years, 291 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),31 October 1984 to 2 December 1989,First Sikh PM
17,Narendra Modi,(born 1950),"5 years, 32 days",4th Prime Minister of India who served two con...

#### Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on leftside.
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe.

In [81]:
#Lets first connect to the driver

driver= webdriver.Chrome(r"chromedriver.exe")

#Go to webpage by url : https://www.motor1.com/

driver.get("https://www.motor1.com/")

In [82]:
# close the popup window

popup= driver.find_element(By.XPATH, "/html/body/div[15]/div/div/div/div/div/div/button")
popup.click()

In [45]:
search= driver.find_element(By.XPATH,'/html/body/div[3]/div[56]/div/div[2]/div[1]/div[3]/div/div[1]/div[2]/div/div[1]/h3/a')
search.click()

In [63]:
car_name= []
price=[]
# Scraping first top 50 car from the given page
car_name_tags= driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_name_tags[0:50]:
    x= i.text
    car_name.append(x) 

# Scraping first top 50 car price from the given page

price_tags= driver.find_elements(By.XPATH,'//strong')
for i in price_tags[0:50]:
    x= i.text
    price.append(x)

In [64]:
print(len(car_name),len(price))

50 50

In [66]:
df= pd.DataFrame({'Car_Name':car_name,
                  'Price':price})
df

                           Car_Name                 Price
0                         Drako GTE   Price: $1.2 Million
1                     De Tomaso P72   Price: $1.3 Million
2                 Ferrari LaFerrari   Price: $1.4 Million
3                     Pagani Huayra   Price: $1.4 Million
4                      McLaren Elva
5                       Czinger 21C   Price: $1.7 Million
6                     Ferrari Monza   Price: $1.7 Million
7                Gordon Murray T.33   Price: $1.7 Million
8                 Koenigsegg Gemera   Price: $1.7 Million
9                       Zenvo TSR-S   Price: $1.7 Million
10               Hennessey Venom F5   Price: $1.7 Million
11                  Bentley Bacalar   Price: $1.8 Million
12    Hispano Suiza Carmen Boulogne   Price: $1.9 Million
13           Bentley Mulliner Batur   Price: $1.9 Million
14                     Deus Vayanne   Price: $2.0 Million
15                      SSC Tuatara   Price: $2.0 Million
16                      Lotus Evija  Price: $2.0 Million*
17              Aston Martin Vulcan   Price: $2.1 Million
18                       Delage D12   Price: $2.3 Million
19                McLaren Speedtail   Price: $2.3 Million
20                     Rimac Nevera   Price: $2.3 Million
21                    Pagani Utopia   Price: $2.4 Million
22             Pininfarina Battista   Price: $2.5 Million
23                Ferrari FXX K Evo   Price: $2.5 Million
24               Gordon Murray T.50   Price: $2.6 Million
25             Lamborghini Countach   Price: $2.6 Million
26         Mercedes-AMG Project One   Price: $2.6 Million
27              Aston Martin Victor   Price: $2.7 Million
28      Hennessey Venom F5 Roadster   Price: $3.0 Million
29                 Koenigsegg Jesko          $3.0 Million
30            Aston Martin Valkyrie   Price: $3.0 Million
31        W Motors Lykan Hypersport   Price: $3.2 Million
32                    McLaren Solus   Price: $3.4 Million
33        Pagani Huayra Roadster BC          $3.5 Million
34         Bugatti Chiron Pur Sport   Price: $3.5 Million
35                 Lamborghini Sian   Price: $3.6 Million
36                 Koenigsegg CC850   Price: $3.6 million
37  Bugatti Chiron Super Sport 300+   Price: $3.7 Million
38               Lamborghini Veneno   Price: $3.9 Million
39                   Bugatti Bolide   Price: $4.5 Million
40                  Bugatti Mistral   Price: $4.7 Million
41              Pagani Huayra Imola   Price: $5.0 Million
42                     Bugatti Divo   Price: $5.4 Million
43              SP Automotive Chaos   Price: $5.8 Million
44                 Pagani Codalunga   Price: $6.4 Million
45         Mercedes-Maybach Exelero   Price: $7.4 Million
46               Bugatti Centodieci   Price: $8.0 Million
47             Rolls-Royce Sweptail   Price: $9.0 Million
48         Bugatti La Voiture Noire  Price: $12.8 Million
49           Rolls-Royce Boat Tail*  Price: $13.4 Million