In [1]:
#import necessary librabies for webscraping with selenium

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import requests
from time import sleep

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos


You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [2]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

#open the page in automated chrome browser

driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
time.sleep(2)

In [8]:
# Creating Empty list to store all the scrapped result
rank =[]
name =[]
artist =[]
upload_date=[]
views=[]

# Extracting Rank
try:
    rank_tags =driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in rank_tags:
        rank.append(i.text.split(".")[0])
except NoSuchElementException:
    rank.append('--')
except StaleElementReferenceException:
    rank.append('--')
    
# Extracting Name
try:
    name_tags =driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in name_tags:
        name.append(i.text.split("[")[0])
except NoSuchElementExceptionhElementException:
    name.append('--')
except StaleElementReferenceException:
    name.append('--')

# Extracting Artist
try:
    artist_tags =driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artist_tags:
        artist.append(i.text)
except NoSuchElementExceptionhElementException:
    artist.append('--')
except StaleElementReferenceException:
    artist.append('--')
    
# Extracting Upload date 
try:
    upload_date_tags =driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date_tags:
        upload_date.append(i.text)
except NoSuchElementExceptionhElementException:
    upload_date.append('--')
except StaleElementReferenceException:
    upload_date.append('--')
    
    
# Extracting Views
try:
    views_tags=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views_tags :
        views.append(i.text)
except NoSuchElementExceptionhElementException:
    views.append('--')
except StaleElementReferenceException:
    views.append('--')

In [10]:
print(len(rank))
print(len(name))
print(len(artist))
print(len(upload_date))
print(len(views))

30
30
30
30
30

In [16]:
df = pd.DataFrame({'Rank' : rank, 
                 'Name':name,
                 'Artist':artist,
                 'Upload_date':upload_date,
                 'Views':views})
df

,Rank,Name,Artist,Upload_date,Views
0,1,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.27
1,2,"""Despacito""",Luis Fonsi,"January 12, 2017",8.08
2,3,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",6.61
3,4,"""Bath Song""",Cocomelon – Nursery Rhymes,"May 2, 2018",6.01
4,5,"""Shape of You""",Ed Sheeran,"January 30, 2017",5.91
5,6,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.78
6,7,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",5.15
7,8,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,"May 24, 2018",4.92
8,9,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.83
9,10,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.81
10,11,"""Gangnam Style""",Psy,"July 15, 2012",4.69
11,12,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.53
12,13,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",4.23
13,14,"""Sugar""",Maroon 5,"January 14, 2015",3.82
14,15,"""Axel F""",Crazy Frog,"June 16, 2009",3.75
15,16,"""Roar""",Katy Perry,"September 5, 2013",3.73
16,17,"""Counting Stars""",OneRepublic,"May 31, 2013",3.72
17,18,"""Sorry""",Justin Bieber,"October 22, 2015",3.63
18,19,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.55
19,20,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,"June 25, 2018",3.49
20,21,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.47
21,22,"""Dark Horse""",Katy Perry,"February 20, 2014",3.45
22,23,"""Faded""",Alan Walker,"December 3, 2015",3.40
23,24,"""Let Her Go""",Passenger,"July 25, 2012",3.38
24,25,"""Girls Like You""",Maroon 5,"May 31, 2018",3.37
25,26,"""Perfect""",Ed Sheeran,"November 9, 2017",3.37
26,27,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.33
27,28,"""Lean On""",Major Lazer,"March 22, 2015",3.33
28,29,"""Humpty the train on a fruits ride""",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.30
29,30,"""Lakdi Ki Kathi""",Jingle Toons,"June 14, 2018",3.30

### 2. Scrape the details team India’s internationalfixtures from bcci.tv.
Url = https://www.bcci.tv/.



You need to find following details:

A) Match title (I.e. 1stODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [2]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

#open the page in automated chrome browser

driver.get("https://www.bcci.tv/")
time.sleep(2)

In [3]:
# Opening fixtures

international =driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
try:
    international.click()
except ElementNotInteractableException:
    driver.get(international.get_attribute('href'))

In [9]:
Match_title= []
Series= []
Place= []
Date= []
Time= []

#scraping Match Title
try:
    Match_title_tag= driver.find_elements(By.XPATH,"//div[@class='fixture-card-top']/h5[2]")
    for i in Match_title_tag:
        Match_title.append(i.text)
except NoSuchElementExceptionhElementException:
    Match_title.append("--")

#scraping Series
try:
    Series_tag= driver.find_elements(By.XPATH,"//div[@class='fixture-card-bottom']")
    for i in Series_tag:
        Series.append(i.text.split("-")[0])
except NoSuchElementExceptionhElementException:
    Series.append("--")
    
#scraping Place
try:
    Place_tag= driver.find_elements(By.XPATH,"//div[@class='fixture-card-bottom']")
    for i in Place_tag:
        Place.append(i.text.split("-")[1].replace("\n",","))
except NoSuchElementExceptionhElementException:
    Place.append("--") 

#scraping Date
try:
    Date_tag= driver.find_elements(By.XPATH,"//div[@class='match-card-left match-schedule']")
    for i in Date_tag:
        Date.append(i.text)
except NoSuchElementExceptionhElementException:
    Date.append("--")

#scraping Time   
try:
    Time_tag= driver.find_elements(By.XPATH,"//div[@class='match-card-right match-schedule ']")
    for i in Time_tag:
        Time.append(i.text)
except NoSuchElementExceptionhElementException:
    Time.append("--")

In [10]:
#printing length
print(len(Match_title),len(Series),len(Place),len(Date),len(Time))

8 8 8 8 8

In [ ]:
#creating Dataframe
df = pd.DataFrame({'Match_title':Match_title,
                                     'Series':Series,
                                     'Place':Place,
                                     'Date':Date,
                                     'Time':Time})
df

### 3. Scrape the details of State-wise GDP ofIndia fromstatisticstime.com.
Url = http://statisticstimes.com/

You have to find following details:
A) Rank

B) State

C) GSDP(18-19)- at current prices

D) GSDP(19-20)- at current prices

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [2]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

#open the page in automated chrome browser

driver.get("http://statisticstimes.com/")
time.sleep(2)

In [20]:
# Clicking on ecomony tab

India=driver.find_element(By.XPATH,'//div[@class="dropdown"][2]/button')
try:
    India.click()
except ElementNotInteractableException:
    driver.get(India.get_attribute('href'))  
time.sleep(2)

In [21]:
# Clicking on India from economy tab
state = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
driver.get(state.get_attribute('href'))
time.sleep(2)

In [22]:
# Clicking on GDP of Indian state

state = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
driver.get(state.get_attribute('href'))
time.sleep(2)

In [23]:
# Creating empty lists to store all the scrapped result
rank =[]
state =[]
gsdp_19_20=[]
gsdp_18_19 =[]
share_18_19 =[]
GDP =[]

# Extracting Rank 
try:
    rank_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank_tags :
        rank.append(i.text)
except NoSuchElementException:
    rank.append('NA')
    
# Extracting state name
try:
    state_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state_tags:
        state.append(i.text)
except NoSuchElementException:
    state.append('NA')
    
# Extracting GDSP 19-20
try:
    gsdp_19_20_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gsdp_19_20_tags:
        gsdp_19_20.append(i.text)
except NoSuchElementException:
    gsdp_19_20.append('NA')
    
# Extracting GDSP 18-19
try:
    gsdp_18_19_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gsdp_18_19_tags:
        gsdp_18_19.append(i.text)
except NoSuchElementException:
    gsdp_18_19.append('NA')
    
# Extracting Share 18_19
try:
    share_18_19_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in share_18_19_tags:
        share_18_19.append(i.text)
except NoSuchElementException:
    share_18_19.append('NA')
    
# Extracting GDP
try:
    GDP_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in GDP_tags:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('NA')

In [24]:
print(len(rank))
print(len(state))
print(len(gsdp_19_20))
print(len(gsdp_18_19))
print(len(share_18_19))
print(len(GDP))

33
33
33
33
33
33

In [25]:
#Creating Dataframe
df = pd.DataFrame({'Rank':rank,
                   'State':state, 
                   'GSDP_19_20':gsdp_19_20,
                   'GSDP_18_19':gsdp_18_19,
                   'Share_18_19':share_18_19,
                   'GDP':GDP})
df

   Rank                      State GSDP_19_20 GSDP_18_19 Share_18_19      GDP
0     1                Maharashtra          -  2,632,792      13.94%  399.921
1     2                 Tamil Nadu  1,845,853  1,630,208       8.63%  247.629
2     3              Uttar Pradesh  1,687,818  1,584,764       8.39%  240.726
3     4                    Gujarat          -  1,502,899       7.96%  228.290
4     5                  Karnataka  1,631,977  1,493,127       7.91%  226.806
5     6                West Bengal  1,253,832  1,089,898       5.77%  165.556
6     7                  Rajasthan  1,020,989    942,586       4.99%  143.179
7     8             Andhra Pradesh    972,782    862,957       4.57%  131.083
8     9                  Telangana    969,604    861,031       4.56%  130.791
9    10             Madhya Pradesh    906,672    809,592       4.29%  122.977
10   11                     Kerala          -    781,653       4.14%  118.733
11   12                      Delhi    856,112    774,870       4.10%  117.703
12   13                    Haryana    831,610    734,163       3.89%  111.519
13   14                      Bihar    611,804    530,363       2.81%   80.562
14   15                     Punjab    574,760    526,376       2.79%   79.957
15   16                     Odisha    521,275    487,805       2.58%   74.098
16   17                      Assam          -    315,881       1.67%   47.982
17   18               Chhattisgarh    329,180    304,063       1.61%   46.187
18   19                  Jharkhand    328,598    297,204       1.57%   45.145
19   20                Uttarakhand          -    245,895       1.30%   37.351
20   21            Jammu & Kashmir          -    155,956       0.83%   23.690
21   22           Himachal Pradesh    165,472    153,845       0.81%   23.369
22   23                        Goa     80,449     73,170       0.39%   11.115
23   24                    Tripura     55,984     49,845       0.26%    7.571
24   25                 Chandigarh          -     42,114       0.22%    6.397
25   26                 Puducherry     38,253     34,433       0.18%    5.230
26   27                  Meghalaya     36,572     33,481       0.18%    5.086
27   28                     Sikkim     32,496     28,723       0.15%    4.363
28   29                    Manipur     31,790     27,870       0.15%    4.233
29   30                   Nagaland          -     27,283       0.14%    4.144
30   31          Arunachal Pradesh          -     24,603       0.13%    3.737
31   32                    Mizoram     26,503     22,287       0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -           -        -

### 4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [45]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

#open the page in automated chrome browser

driver.get("https://github.com/")
time.sleep(2)

In [46]:
# Clicking on button tab

button =driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[2]/a')
driver.get(button.get_attribute('href'))
time.sleep(2)

In [47]:
choose_topic =driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/main/div[4]/div[1]/div/div[13]/a[2]')
driver.get(choose_topic.get_attribute('href'))
time.sleep(2)

In [48]:
# Creating Empty list for Scraping Data
title=[]
description=[]
count =[]
language =[]
url=[]

# Scraping title
try:
    title_tags =driver.find_elements(By.XPATH,'//div[@class="d-flex flex-1"]')
    for i in title_tags:
        title.append(i.text)
except NoSuchElementException:
    title.append('NA')

# Scraping description
try:
    description_tags =driver.find_elements(By.XPATH,'//div[@class="px-3 pt-3"]')
    for i in description_tags:
        description.append(i.text)
except NoSuchElementException:
    description.append('NA')

# Scraping description
try:
    language_tags =driver.find_elements(By.XPATH,'//span[@class="f6 my-1 ml-0"]')
    for i in language_tags:
        language.append(i.text)
except NoSuchElementException:
    language.append('NA')

In [61]:
# Extracting URL

try:
    url_tags =driver.find_elements(By.XPATH,'//h3[@class="f3 color-fg-muted text-normal lh-condensed"]/a[2]')
    for i in url_tags:
        url.append(i.get_attribute("href"))
except NoSuchElementException:
    url.append('NA')
len(url)

20

In [66]:
for i in url:
    driver.get(i)
    time.sleep(1)
    
    try:
        count_tags=driver.find_element(By.XPATH, "//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        count.append(count_tags.text)
    except NoSuchElementException:
        count.append('NA')

In [67]:
len(count)

40

In [69]:
df = pd.DataFrame({'Repository title':title,
                   'Repository_description':description,
                   'Contributors_count':count[0:20],
                   'Language_used':language,
                   'Url':url})
df

,Repository title,Repository_description,Contributors_count,Language_used,Url
0,localstack / localstack,💻 A fully functional local AWS cloud stack. De...,458,Python,https://github.com/localstack/localstack
1,serverless / serverless,"⚡ Serverless Framework – Build web, mobile and...","1,013",JavaScript,https://github.com/serverless/serverless
2,bregman-arie / devops-exercises,"Linux, Jenkins, AWS, SRE, Prometheus, Docker, ...",137,Python,https://github.com/bregman-arie/devops-exercises
3,donnemartin / data-science-ipython-notebooks,Data science Python notebooks: Deep learning (...,12,Python,https://github.com/donnemartin/data-science-ip...
4,pulumi / pulumi,Pulumi - Universal Infrastructure as Code. You...,209,Go,https://github.com/pulumi/pulumi
5,ramitsurana / awesome-kubernetes,A curated list for awesome kubernetes sources 🚢🎉,368,Shell,https://github.com/ramitsurana/awesome-kubernetes
6,kubernetes-sigs / kubespray,Deploy a Production Ready Kubernetes Cluster,962,Jinja,https://github.com/kubernetes-sigs/kubespray
7,aws / aws-cli,Universal Command Line Interface for Amazon We...,315,Python,https://github.com/aws/aws-cli
8,mozilla / sops,Simple and flexible tool for managing secrets,112,Go,https://github.com/mozilla/sops
9,serverless-stack / sst,💥 SST makes it easy to build full-stack server...,128,TypeScript,https://github.com/serverless-stack/sst
10,donnemartin / awesome-aws,A curated list of awesome Amazon Web Services ...,70,Python,https://github.com/donnemartin/awesome-aws
11,apereo / cas,Apereo CAS - Identity & Single Sign On for all...,308,Java,https://github.com/apereo/cas
12,caprover / caprover,Scalable PaaS (automated Docker+nginx) - aka H...,50,TypeScript,https://github.com/caprover/caprover
13,aws / aws-cdk,The AWS Cloud Development Kit is a framework f...,"1,156",TypeScript,https://github.com/aws/aws-cdk
14,GoogleCloudPlatform / terraformer,CLI tool to generate terraform files from exis...,158,Go,https://github.com/GoogleCloudPlatform/terrafo...
15,aws / chalice,Python Serverless Microframework for AWS,163,Python,https://github.com/aws/chalice
16,aws-amplify / amplify-js,A declarative JavaScript library for applicati...,373,TypeScript,https://github.com/aws-amplify/amplify-js
17,aws / serverless-application-model,The AWS Serverless Application Model (AWS SAM)...,248,Python,https://github.com/aws/serverless-application-...
18,google / go-cloud,The Go Cloud Development Kit (Go CDK): A libra...,116,Go,https://github.com/google/go-cloud
19,apex / up,"Deploy infinitely scalable serverless apps, ap...",49,Go,https://github.com/apex/up

### 5. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [2]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

#open the page in automated chrome browser

driver.get(" https:/www.billboard.com/")
time.sleep(2)

In [3]:
# Clicking on button tab

button =driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[1]/div[1]/button')
button.click()
time.sleep(2)

In [4]:
# Clicking on hot100 tab

hot100 =driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
driver.get(hot100.get_attribute('href'))
time.sleep(2)

In [5]:
# Creating Empty List for scrapped datas

name =[]
artist =[]
Rank=[]
peak_rank =[]
weeks =[]
all_info=[]

In [6]:
# Scraping Song Name
try:
    song_tags =driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li/h3')
    for i in song_tags:
        name.append(i.text)
except NoSuchElementException:
    name.append('NA')
len(name)

100

In [7]:
#scrapping this week ranking
try:
    Rank_tag =driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]')
    for i in Rank_tag:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')
len(Rank)

100

In [10]:
#Scrappin Artist name
try:
    artist_tag =driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
    for i in artist_tag:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('NA')
len(artist)

1

In [11]:
#Scrappin Multiple Artist name
try:
    artist_tag =driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
    for i in artist_tag:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('NA')
len(artist)

100

In [13]:
#scrapping all information
all_info=[]
try:
    all_tags =driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li/span')
    for i in all_tags:
        all_info.append(i.text)
except NoSuchElementException:
    all_info.append('NA')

In [14]:
# Scraping rank
lrank= all_info[1:401:4]
len(lrank)

100

In [15]:
# Scraping rank
peak_rank= all_info[2:401:4]
len(peak_rank)

100

In [16]:
# Scraping weeks
weeks= all_info[3:401:4]
len(weeks)

100

In [17]:
#Creat DataFrame
df = pd.DataFrame({'This Week Rank':Rank,
                   'Song_name':name,
                   'Artist_name':artist,
                   'Last_week_rank':lrank,
                   'Peak_rank':peak_rank,
                   'Weeks on board':weeks})
df

,This Week Rank,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks on board
0,1,Flowers,Miley Cyrus,1,1,3
1,2,Kill Bill,SZA,2,2,8
2,3,Creepin',"Metro Boomin, The Weeknd & 21 Savage",4,3,9
3,4,Anti-Hero,Taylor Swift,3,1,15
4,5,Unholy,Sam Smith & Kim Petras,5,1,19
...,...,...,...,...,...,...
95,96,Hey Mor,Ozuna Featuring Feid,-,96,1
96,97,Gato de Noche,Nengo Flow & Bad Bunny,85,60,6
97,98,Heart To Heart,Mac DeMarco,83,83,3
98,99,Never Gonna Not Dance Again,P!nk,-,99,1
99,100,Dancin' In The Country,Tyler Hubbard,-,100,1

### 6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [18]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

#open the page in automated chrome browser

driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
time.sleep(2)

In [29]:
# Creating Empty Lists for scrapped data

book =[]
author =[]
volumes_sold =[]
publisher =[]
genre =[]

# Scraping Book name
try:
    book_tags =driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book_tags:
        book.append(i.text)
except NoSuchElementException:
    book.append('NA')
    
# Scraping Book author's
try:
    author_tags =driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author_tags:
        author.append(i.text)
except NoSuchElementException:
    author.append('NA')
    
# Scraping Volumes sold
try:
    volumes_sold_tags =driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in volumes_sold_tags :
        volumes_sold.append(i.text)
except NoSuchElementException:
    volumes_sold.append('NA')
    
# Scraping publisher
try:
    publisher_tags =driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher_tags :
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append('NA')
    
# Scraping genre
try:
    genre_tags =driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre_tags :
        genre.append(i.text)
except NoSuchElementException:
    genre.append('NA')

In [41]:
print(len(book),len(author),len(volumes_sold),len(publisher),len(genre))

100 100 100 100 100

In [42]:
df = pd.DataFrame({'Book':book, 
                   'Author_Name':author,
                   'Volumes_Sold':volumes_sold,
                   'Publisher':publisher,
                   'Genre':genre})
df

,Book,Author_Name,Volumes_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
.
You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [35]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe"")
time.sleep(3)


# Getting the webpage of mentioned url 
url = " https://www.imdb.com/list/ls095964455/ "
driver.get(url)

In [36]:
#Creating empty lists.
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
    
#Scraping data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)
    
#Scraping data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)
    
#Scraping data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)
    
#Scraping data of votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [37]:
print(len(Name),len(Year_span),len(Run_time),len(Ratings),len(Genre),len(Votes))

100 100 100 100 100 100

In [43]:
df = pd.DataFrame({'Name':Name,
                   'Year span':Year_span,
                   'Genre':Genre,
                   'Run_time':Run_time,
                   'Ratings':Ratings,
                   'Votes':Votes})
df

,Name,Year span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,123,265"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,211,191"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,007,067"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"297,137"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"256,063"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,733"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"62,619"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"202,955"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"42,044"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"250,781"

### 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code.

In [44]:
# let's first connect to the web driver
driver = webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(3)


# Getting the webpage of mentioned url 
url = "https://archive.ics.uci.edu/"
driver.get(url)

In [45]:
# Clicking on all datasets links
dataset=driver.find_element(By.XPATH,"//a[@href='datasets.php']")
dataset.click()
time.sleep(1)

In [47]:
# Creating empty lists for scrapped data

name =[]
dtype =[]
task =[]
attribute_type =[]
no_of_instances =[]
no_of_Attri=[]
year=[]

# Scraping DataSet Name
try:
    name_tags =driver.find_elements(By.XPATH,"//p[@class='normal']/b/a")
    for i in name_tags:
        name.append(i.text)
except NoSuchElementException:
    name.append('NA')
    
# Scraping Data Type
try:
    dtype_tags=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
    for i in dtype_tags[1:]:
        dtype.append(i.text)
except NoSuchElementException:
    dtype.append('NA')
    
# Scraping Task
try:
    task_tags =driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
    for i in task_tags [1:]:
        task.append(i.text)
except NoSuchElementException:
    task.append('NA')
    
# Scraping Attribute_Type
try:
    attribute_type_tags =driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
    for i in attribute_type_tags[1:]:
        attribute_type.append(i.text)
except NoSuchElementException:
    attribute_type.append('NA')
    
# Scraping No_of_Instances
try:
    no_of_instances_tags =driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
    for i in no_of_instances_tags [1:]:
        no_of_instances.append(i.text)
except NoSuchElementException:
    no_of_instances.append('NA')

# Scraping No_of_Attribute
try:
    no_of_Attri_tags =driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
    for i in no_of_Attri_tags [1:]:
        no_of_Attri.append(i.text)
except NoSuchElementException:
    no_of_Attri.append('NA')
    
# Scraping Year
try:
    year_tags =driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
    for i in year_tags[1:]:
        year.append(i.text)
except NoSuchElementException:
    year.append('NA')

In [48]:
print(len(name),len(dtype),len(task),len(attribute_type),len(no_of_instances),len(no_of_Attri),len(year))

622 622 622 622 622 622 622

In [49]:
df = pd.DataFrame({'Dataset_Name':name,
                   'Data_Type':dtype,
                   'Task':task, 
                   'Attribute_Type':attribute_type,
                   'No_of_Instances':no_of_instances,
                   'No_of_Attribute':no_of_Attri,
                   'Year':year})

In [50]:
df

,Dataset_Name,Data_Type,Task,Attribute_Type,No_of_Instances,No_of_Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021